/* * {
    border: 1px solid red !important;
} */

body {
background-color: #E1EDEA;
color: #1C232F;
}

h1 {
text-align: center;
}

.center {
margin: auto;
width: 20%;
}

#inputbox {
 padding : 4px 8px;
 width: 18%;

}

#postb {
 padding: 4px 14px 4px 12px;

}

#postas {
 padding : 4px 8px;
 position: relative;
 left: 10px;
}


#shoutlist {
 width: 50%;
/* padding-left: 0; */
 list-style: none;
}

.listitem {
 padding-left: 10px;
}

.listitem b {

}

.listitem p {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 4px 4px 4px #B3B3B3;
    background: none repeat scroll 0 0 #4388CC;
    border: 2px solid #0627CC;
    color: white;
    padding: 10px;
    position: relative;
/*  width: 42%; */
}
