body {
padding-top: 30px;
}

.center {
margin-left: auto;
margin-right: auto;
}

#inputbox .input-xlarge {
width: 98%;
}

#post-area {
}

#post-area .btn {
float: left;
width: 15%;
}

#post-area label {
float: left;
width: 20em;
text-align: center;
}

#postas {
height: 2.9em;
float: right;
}

.shout-list {
list-style: none outside none;
margin: 80px 0 40px;
clear: both;
}

.shout-item {
margin-top: 20px;
font-size: 16px;
}

.bubble-top label {
float: right;
font-size: 0.7em;
}

.bubble:before {
-moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: transparent transparent #EEEEEE;
border-style: solid;
border-width: 15px;
content: "";
display: block;
left: 30px;
position: absolute;
top: -30px;
width: 0;
}

.bubble {
background: none repeat scroll 0 0 #EEEEEE;
border-radius: 10px 10px 10px 10px;
color: #333333;
margin: 1.3em 0 0.5em;
padding: 15px;
position: relative;
}

#footer {
border-top: 1px solid lightgray;
padding: 20px;
}

#footer p {
text-align: center;
}
