<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}Shoutbox{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css" />

</head>

<body>
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span4">
            </div>
            
            <div class="span4 center">
                <h1>Shoutbox</h1>
                
                <p>{% block notification %}{% endblock %} </p>
	                
	                {% block input %}
	                <form id="inputbox" action="" method="post">
	                    {% csrf_token %}
	                    <textarea name="shout" class="input-xlarge" rows="3"></textarea>
	                    <div id="post-area">
	                        <input class="btn btn-large btn-success" type="submit" value="Post" />
	                        <label>as</label>
	                        <input id="postas" type="text" name="poster" placeholder="Anonymous" class="span3"/>
	                    </div>
	                </form>
	                {% endblock %}
	
                    {% block middle %}{% endblock %}
            </div>
        </div>
        
        <div class="row-fluid">
            <div id="footer" class="span12">
                {% block footer %}
                <p>&copy; 2012 Raghu Udiyar</p>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

