{% extends "base.html" %}

{% block notification %}
{% if notice %}<p>{{ notice }}</p>{% endif %}
{% endblock %}


{% block middle %}
	<ol class="shout-list">
	{% for shout in shouts_list %}
		<li class="shout-item">
			<div class="bubble-top">
				<strong> {{shout.post_as}} </strong> said :
				<label>on {{ shout.pub_date }}</label>
			</div>
			<p class="bubble"> {{ shout.content }} </p>
		</li>
	{% empty %}
		<p> No shouts available, yet</p>
	{% endfor %}
	</ol>
	
	{% if is_paginated %}
              <ul class="pager">
                  {% if page_obj.has_previous %}
                  <li class="previous"><a href="/?page={{ page_obj.previous_page_number }}">&larr; Newer</a></li>
                  {% endif %}
                  <li class="active">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </li>
                  {% if page_obj.has_next %}
                  <li class="next"><a href="?page={{ page_obj.next_page_number }}">Older &rarr;</a></li>
                  {% endif %}
              </ul>
      {% endif %}
      
{% endblock %}
